# Ignore everything in the repository
/*

# Don't ignore .gitignore file itself
!.gitignore

# Allow .gitignore file to be tracked
!/

# Allow the specific plugin folder
!wp-content/plugins/woo-origin-filter/
!wp-content/plugins/woo-origin-filter/**



# Ignore all files inside the main folders, but not the folders themselves
wp-content/*
wp-admin/*
wp-includes/*

# Allow the specific plugin folder and files
!wp-content/plugins/woo-origin-filter/
!wp-content/plugins/woo-origin-filter/**

# Also make sure to not ignore the .gitignore file
!.gitignore

